* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: OptimisticDisplay, sans-serif;
}
body{
    background-color: black;
}

.main {
    width: 100%;
    height: 748px;
}

.left-side {
    background-color: #000000;
    float: left;
    width: calc(100% / 2);
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    align-items: center;
    justify-content: center;
}

.logo-div {
    margin-bottom: 150px;
    margin-right: 30px;
    width: 120px;
    height: 120px;
    margin-top: 0px;
    display: block;

}

.logo {
    width: 100%;
    height: 100%;
}

.text-div{
    width: 470px;
    height: 200px;
    margin: 120px 0px 0px 0px;
    float: right;
    font-size: 2.8vw;
    align-items: center;
    justify-content: center;
}

.text {
    width: 100vw;
    height: 100vh;
    color: #ffffff;
    font-size: 2.8vw;
    align-items: center;
    justify-content: center;
}

.text-es {
    font-size: auto;
    font-weight: bold;

    background: linear-gradient(45deg, #405DE6, #833AB4, #C13584, #feda77, #f58529);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.photo-div{
    margin-bottom: 150px;
    width: 400px;
    height: 350px;
    align-items: center;
    justify-content: center;
}

.photo{
    width: 100%;
    height: 100%;
    align-items: center;
}

.right-side {
    background-color: #162127;
    float: right;
    width: calc(100% / 2 - 2px);
    height: 100%;
}

.Line {
    width: 2px;
    height: 100%;
    background-color: #3d4f5c;
    float: left;
}

.Line1 {
    width: 100%;
    height: 2px;
    background-color: #3d4f5c;
    float: left;
}


.form-div{
    color: #ffffff;
    width: 640px;
    height: 504px;
}

.Voiti{
    font-size: 18px;
    font-family: OptimisticDisplay, sans-serif;
    margin:110px 0px 20px 50px;
}

.input-div{
    margin: 10px 0px 10px 50px;
    width: 536px;
    height: 60px;
    padding: 10px 16px;
    background-color: #162127;
    border: 1px solid #3d4f5c;
    border-radius: 20px;
    color: #3d4f5c;
}

.input{
    color: #ffffff;
    width: 100%;
    height: 38px;
    background-color: #162127;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.forget{
    font-size: 14px;
    color: #00376b;
}

.Log-In{
    width: 536px;
    height: 44px;
    margin: 15px 0px 10px 50px;
    background-color: #0064e0;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 25px;
}

.forget{
    margin-left: calc(100% / 2 - 55px);
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 15px;
    color: #ffffff;
    font-family: Optimistic, sans-serif;
    text-decoration: none;
}

.with-facebook{
    width: 536px;
    height: 44px;
    margin: 65px 0px 10px 50px;
    background-color: #162127;
    border: 1px solid #606c78;
    border-radius: 20px;
    color: #ffffff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.face-logo{
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

.but-face{
    text-decoration: none;
    font-family: Optimistic, sans-serif;
}

.new-account{
    width: 536px;
    height: 44px;
    margin: 10px 0px 10px 50px;
    background-color: #162127;
    border: 1px solid #4ba9fe;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.but-cre{
    text-decoration: none;
    font-family: Optimistic, sans-serif;
    color: #4ba9fe;
}

.meta-logo{
    width: 60px;
    height: 12px;
    margin: 22px 0px 0px 270px;
    margin-left: calc(50% - 30px);
}

.footer {
    background-color: black;
    padding: 20px 40px;
    width: 100%;
    box-sizing: border-box;
}

.other {
    width: 100%;
    margin-bottom: 20px;
}

.other ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    padding: 0;
    margin: 0;
}

.other li {
    margin: 0;
    padding: 0;
}

.other a {
    color: #737373;
    text-decoration: none;
    font-size: 12px;
    white-space: nowrap;
}

.other a:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    color: #737373;
    font-size: 12px;
    margin-top: 10px;
}

.language-select {
    background-color: black;
    color: #737373;
    font-size: 12px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
}

.footer-bottom span {
    font-size: 12px;
    color: #737373;
}



@media (max-width: 992px) {
  .main {
    height: auto;
  }

  .left-side,
  .right-side {
    width: 100%;
    float: none;
    height: auto;
  }

  .Line {
    display: none;
  }

  .text-div,
  .text {
    font-size: 4vw;
    width: 100%;
    height: auto;
    margin: 40px 0;
    text-align: center;
  }

  .photo-div {
    margin-bottom: 60px;
    width: 320px;
    height: auto;
  }

  .form-div {
    width: 100%;
    height: auto;
  }

  .Voiti,
  .input-div,
  .Log-In,
  .with-facebook,
  .new-account {
    margin-left: auto;
    margin-right: auto;
  }

  .meta-logo {
    margin-left: calc(50% - 30px);
  }
}

@media (max-width: 576px) {
  .logo-div {
    margin: 40px auto;
    width: 90px;
    height: 90px;
  }

  .text-div,
  .text {
    font-size: 6vw;
  }

  .photo-div {
    width: 260px;
  }

  .input-div,
  .Log-In,
  .with-facebook,
  .new-account {
    width: 90%;
  }

  .Voiti {
    margin: 60px auto 20px;
    text-align: center;
  }

  .forget {
    margin-left: 0;
    text-align: center;
    display: block;
  }

  .footer {
    padding: 20px;
  }
}