ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

li {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

li strong {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
}

li small {
    display: block;
    color: #888;
    margin-top: 10px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background: #29445f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #1e2d45;
}